openapi: 3.0.0
info:
  contact: {}
  description: |2

    <!-- Yandex.Metrika counter -->
    <div><img src="https://mc.yandex.ru/watch/62307766" style="position:absolute; left:-9999px;" alt="" /></div>
    <!-- /Yandex.Metrika counter -->
    <p>Через этот API вы можете получить практически все данные из кинопоиска. Больше информации вы можете получить изучив эту документацию.</p>
    <h2>Как работать с документацией?</h2>
    <p>
    Для начала работы с API вам необходимо получить токен, который вы можете получить в боте <a href="https://t.me/kinopoiskdev_bot">@kinopoiskdev_bot</a>. <br />
    После получения токена, вам необходимо авторизоваться в документации, для этого нажмите на кнопку <strong>Authorize</strong> и введите токен в поле <strong>Value</strong>.<br />
    После авторизации вы можете отправлять запросы к API, для этого нажмите на кнопку <strong>Try it out</strong> и заполните необходимые поля для составления нужного фильтра.<br />
    После заполнения полей нажмите на кнопку <strong>Execute</strong> и получите ответ от API и пример запроса.
    </p>
    <h3>Как работать с API?</h3>
    <p>
    API работает по принципу REST, все запросы отправляются на адрес <code>https://api.kinopoisk.dev/</code> с указанием версии API и необходимого ресурса.<br />
    Все запросы к API кинопоиска должны содержать заголовок <code>X-API-KEY</code> с вашим токеном. В противном случае вы получите ошибку <code>401</code>.<br />
    При составлении запроса учитывайте, что все параметры должны быть в <code>query</code> и <code>path</code>. В зависимости от метода который вы используете.
    Например, вы хотите получить список фильмов за 2023 год в жанре <code>криминал</code>, тогда ваш запрос будет выглядеть так: <code>https://api.kinopoisk.dev/v1.4/movie?year=2023&genres.name=криминал</code>.
    Или вы хотите получить список фильмов с рейтингом выше 8, тогда ваш запрос будет выглядеть так: <code>https://api.kinopoisk.dev/v1.4/movie?rating.imdb=8-10</code>.
    Документация kinopoisk api может помочь вам составить нужный запрос, для этого воспользуйтесь ее конструктором.
    </p>
    <h3>Особенности синтекса query параметров</h3>
    <p>
    Ключи в query параметрах имеют разные типы значений. В зависимости от типа значения, вы можете использовать разные операторы для фильтрации для поиска максимально релевантного фильма, сериала и т.д. в базе. <br />
    Поля с типом <code>Number</code> могут принимать значения в форматах: <code>rating.kp=1-10</code>, <code>rating.kp=1</code>, <code>year=2022&year=2023</code>. <br />
    Поля с типом <code>Date</code> могут принимать значения в форматах: <code>premiere.russia=dd.mm.yyyy-dd.mm.yyyy</code>, <code>premiere.russia=dd.mm.yyyy</code>. <br />
    Поля с типом <code>String</code> могут принимать значения в форматах: <code>genres.name=драма</code>, <code>genres.name=криминал</code>, <code>genres.name=криминал&genres.name=драма</code> <br/>
    Поля с типом <code>Boolean</code> могут принимать значения в форматах: <code>isSeries=true</code>, <code>isSeries=false</code>. <br />
    Параметры жанров и стран могут принимать операторы <code>+</code> и <code>!</code>, для указания включаемых и исключаемых значений. Например, вы хотите получить список фильмов в жанрах <code>драма</code> и <code>криминал</code>, тогда ваш запрос будет выглядеть так: <code>genres.name=+драма&genres.name=+криминал</code>. Или вы хотите получить список фильмов с жанром <code>драма</code> и без жанра <code>криминал</code>, тогда ваш запрос будет выглядеть так: <code>genres.name=+драма&genres.name=!криминал</code>. <br />
    </p>
    <p>
    Расшифровка операторов:
    <ul>
      <li><code>!</code> - исключить. Этот символ нужно отправлять в кодированной форме <code>%21</code></li>
      <li><code>+</code> - включить. Этот символ нужно отправлять в кодированной форме <code>%2B</code></li>
      <li><code>-</code> - диапазон значений, используется в качестве разделителя.</li>
    </ul>
    </p>

    <p>По вопросам работы с API обращайтесь в чат <a href="https://t.me/+jeHPZVXiLPFhODJi">Developer Community KinopoiskDev</a>.</p>

    <p>Если вы обнаружили ошибку или у вас есть предложения по улучшению, создавайте issue на <a href="https://github.com/mdwitr0/kinopoiskdev">GitHub</a>.</p>

    <h3>Полезные ссылки:</h3>
    <ul>
      <li><a href="https://kinopoiskdev.readme.io">Более удобная документация</a></li>
      <li><a href="https://github.com/OpenMovieDB/kinopoiskdev_client">JavaScript и TypeScript клиент (Устарел, ждет обновления)</a></li>
      <li><a href="https://github.com/odi1n/kinopoisk_dev">Python клиент (Устарел, ждет обновления)</a></li>
      <li><a href="/documentation-json">OpenAPI Specification (JSON)</a></li>
      <li><a href="/documentation-yaml">OpenAPI Specification (YAML)</a></li>
    </ul>
  title: Документация для неофициального API кинопоиска (kinopoisk.dev).
  version: "1.4"
servers:
- url: https://api.kinopoisk.dev
paths:
  /v1.4/movie/{id}:
    get:
      description: Возвращает всю доступную информацию о сущности.
      operationId: MovieController_findOneV1_4
      parameters:
      - description: ID из кинопоиска
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDtoV1_4'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponseDto'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
          description: Other
      security:
      - X-API-KEY: []
      summary: Поиск по id
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1.4/movie:
    get:
      description: "Этот метод вернет список фильмов удовлетворяющих вашему запрос\
        у. <br> В ответе придут поля указанные в параметре `selectFields`. Если ег\
        о не указать, то вернутся только дефолтные поля."
      operationId: MovieController_findManyByQueryV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - id
            - externalId
            - name
            - enName
            - alternativeName
            - names
            - description
            - shortDescription
            - slogan
            - type
            - typeNumber
            - isSeries
            - status
            - year
            - releaseYears
            - rating
            - ratingMpaa
            - ageRating
            - votes
            - seasonsInfo
            - budget
            - audience
            - movieLength
            - seriesLength
            - totalSeriesLength
            - genres
            - countries
            - poster
            - backdrop
            - logo
            - ticketsOnSale
            - videos
            - networks
            - persons
            - facts
            - fees
            - premiere
            - similarMovies
            - sequelsAndPrequels
            - watchability
            - lists
            - top10
            - top250
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - externalId.imdb
            - externalId.tmdb
            - externalId.kpHD
            - name
            - enName
            - alternativeName
            - names.name
            - description
            - shortDescription
            - slogan
            - type
            - typeNumber
            - isSeries
            - status
            - year
            - releaseYears.start
            - releaseYears.end
            - rating.kp
            - rating.imdb
            - rating.tmdb
            - rating.filmCritics
            - rating.russianFilmCritics
            - rating.await
            - ratingMpaa
            - ageRating
            - votes.kp
            - votes.imdb
            - votes.tmdb
            - votes.filmCritics
            - votes.russianFilmCritics
            - votes.await
            - budget.value
            - budget.currency
            - audience.count
            - audience.country
            - movieLength
            - seriesLength
            - totalSeriesLength
            - genres.name
            - countries.name
            - poster.url
            - backdrop.url
            - logo.url
            - ticketsOnSale
            - videos.trailers.url
            - videos.trailers.site
            - videos.trailers.name
            - networks.items.name
            - networks.items.logo.url
            - persons.id
            - persons.name
            - persons.enName
            - persons.photo
            - persons.description
            - persons.profession
            - persons.enProfession
            - facts.type
            - facts.value
            - facts.spoiler
            - fees.world.value
            - fees.usa.value
            - fees.russia.value
            - premiere.world
            - premiere.usa
            - premiere.russia
            - premiere.digital
            - premiere.dvd
            - premiere.bluRay
            - premiere.cinema
            - premiere.country
            - similarMovies.id
            - similarMovies.name
            - similarMovies.enName
            - similarMovies.alternativeName
            - similarMovies.poster.url
            - similarMovies.rating.kp
            - similarMovies.rating.imdb
            - similarMovies.rating.tmdb
            - similarMovies.year
            - sequelsAndPrequels.id
            - sequelsAndPrequels.name
            - sequelsAndPrequels.enName
            - sequelsAndPrequels.alternativeName
            - sequelsAndPrequels.poster.url
            - sequelsAndPrequels.rating.kp
            - sequelsAndPrequels.rating.imdb
            - sequelsAndPrequels.rating.tmdb
            - sequelsAndPrequels.year
            - watchability.items.name
            - watchability.items.url
            - watchability.items.logo.url
            - lists
            - top10
            - top250
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - id
            - externalId.imdb
            - externalId.tmdb
            - externalId.kpHD
            - name
            - enName
            - alternativeName
            - names.name
            - description
            - shortDescription
            - slogan
            - type
            - typeNumber
            - isSeries
            - status
            - year
            - releaseYears.start
            - releaseYears.end
            - rating.kp
            - rating.imdb
            - rating.tmdb
            - rating.filmCritics
            - rating.russianFilmCritics
            - rating.await
            - ratingMpaa
            - ageRating
            - votes.kp
            - votes.imdb
            - votes.tmdb
            - votes.filmCritics
            - votes.russianFilmCritics
            - votes.await
            - budget.value
            - budget.currency
            - audience.count
            - audience.country
            - movieLength
            - seriesLength
            - totalSeriesLength
            - genres.name
            - countries.name
            - poster.url
            - backdrop.url
            - logo.url
            - ticketsOnSale
            - videos.trailers.url
            - videos.trailers.site
            - videos.trailers.name
            - networks.items.name
            - networks.items.logo.url
            - persons.id
            - persons.name
            - persons.enName
            - persons.photo
            - persons.description
            - persons.profession
            - persons.enProfession
            - facts.type
            - facts.value
            - facts.spoiler
            - fees.world.value
            - fees.usa.value
            - fees.russia.value
            - premiere.world
            - premiere.usa
            - premiere.russia
            - premiere.digital
            - premiere.dvd
            - premiere.bluRay
            - premiere.cinema
            - premiere.country
            - similarMovies.id
            - similarMovies.name
            - similarMovies.enName
            - similarMovies.alternativeName
            - similarMovies.poster.url
            - similarMovies.rating.kp
            - similarMovies.rating.imdb
            - similarMovies.rating.tmdb
            - similarMovies.year
            - sequelsAndPrequels.id
            - sequelsAndPrequels.name
            - sequelsAndPrequels.enName
            - sequelsAndPrequels.alternativeName
            - sequelsAndPrequels.poster.url
            - sequelsAndPrequels.rating.kp
            - sequelsAndPrequels.rating.imdb
            - sequelsAndPrequels.rating.tmdb
            - sequelsAndPrequels.year
            - watchability.items.name
            - watchability.items.url
            - watchability.items.logo.url
            - lists
            - top10
            - top250
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по IMDB ID (пример: `\"tt666\", \"tt555\", \"!tt666\"\
          `)"
        explode: true
        in: query
        name: externalId.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по TMDB ID (пример: `666, 555, !666`)"
        explode: true
        in: query
        name: externalId.tmdb
        required: false
        schema:
          items:
            type: number
          nullable: true
          type: array
        style: form
      - description: "Поиск по id KinoPoisk HD (пример: `\"48e8d0acb0f62d8585101798eaeceec5\"\
          , \"!48e8d0acb0f62d8585101798eaeceec5\"`)"
        explode: true
        in: query
        name: externalId.kpHD
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по типу фильма (пример: `\"movie\", \"tv-series\", \"\
          !anime\"`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - movie
            - tv-series
            - cartoon
            - animated-series
            - anime
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по номеру типа фильма (пример: `1, 2, !3`). Список тип\
          ов: 1 (movie), 2 (tv-series), 3 (cartoon), 4 (anime), 5 (animated-series)."
        explode: true
        in: query
        name: typeNumber
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по индикатору сериала (пример: `true, false`)"
        explode: true
        in: query
        name: isSeries
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по статусу фильма (пример: `\"announced\", \"completed\"\
          , \"!filming\"`)"
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - announced
            - completed
            - filming
            - post-production
            - pre-production
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по году (пример: `1874, 2050, !2020, 2020-2024`)"
        explode: true
        in: query
        name: year
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по года начала релиза (пример: `1874, 2050, !2020, 2020-2024`)"
        explode: true
        in: query
        name: releaseYears.start
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по года окончания релиза (пример: `1874, 2050, !2020,\
          \ 2020-2024`)"
        explode: true
        in: query
        name: releaseYears.end
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу Кинопоиск (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.kp
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу IMDB (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу TMDB (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.tmdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу MPAA (пример: `\"G\", \"NC-17\", \"!R\"`)"
        explode: true
        in: query
        name: ratingMpaa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по возрастному рейтингу (пример: `12, !18, 12-18`)"
        explode: true
        in: query
        name: ageRating
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на KP (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.kp
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на IMDB (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на TMDB (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.tmdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов кинокритиков (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.filmCritics
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов кинокритиков из России (пример:\
          \ `1000-6666666`)"
        explode: true
        in: query
        name: votes.russianFilmCritics
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов ожидания на Кинопоиске (пример:\
          \ `1000-6666666`)"
        explode: true
        in: query
        name: votes.await
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по бюджету фильма (пример: `1000-6666666`)"
        explode: true
        in: query
        name: budget.value
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству аудитории (пример: `1000-6666666`)"
        explode: true
        in: query
        name: audience.count
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по продолжительности фильма (пример: `100-120`)"
        explode: true
        in: query
        name: movieLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по всей продолжительности одной серии (пример: `20-60`)"
        explode: true
        in: query
        name: seriesLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по всей продолжительности сериала (пример: `100-120`)"
        explode: true
        in: query
        name: totalSeriesLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по жанрам (пример: `\"драма\", \"комедия\", \"!мелодра\
          ма\", \"+ужасы\"`)"
        explode: true
        in: query
        name: genres.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по странам (пример: `\"США\", \"Россия\", \"!Франция\"\
          \ , \"+Великобритания\"`)"
        explode: true
        in: query
        name: countries.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по наличию билетов в продаже (пример: `true, false`)"
        explode: true
        in: query
        name: ticketsOnSale
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сетям производства фильма (пример: `\"HBO\", \"Netflix\"\
          , \"!Amazon\"`)"
        explode: true
        in: query
        name: networks.items.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID персон (пример: `666, 555, !666`)"
        explode: true
        in: query
        name: persons.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по профессиям персон (пример: `\"актер\", \"режиссер\"\
          , \"!сценарист\"`)"
        explode: true
        in: query
        name: persons.profession
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по английским профессиям персон (пример: `\"actor\", \"\
          director\", \"!writer\"`)"
        explode: true
        in: query
        name: persons.enProfession
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в мире (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.world
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в США (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.usa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в России (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.russia
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в мире (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.world
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в США (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.usa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в России (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.russia
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в стриминговых сервисах (пример: `01.01.2020,\
          \ 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.digital
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в кинотеатрах (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.cinema
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по стране премьеры (пример: `\"США\", \"Россия\", \"!Ф\
          ранция\" , \"+Великобритания\"`)"
        explode: true
        in: query
        name: premiere.country
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk из списка похожих фильмов (пример: `666,\
          \ 555, !666`)"
        explode: true
        in: query
        name: similarMovies.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk из списка сиквелов и преквелов (пример\
          : `666, 555, !666`)"
        explode: true
        in: query
        name: sequelsAndPrequels.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по доуступным платформам для просмотра (пример: `\"ivi\"\
          , \"okko\", \"!megogo\"`)"
        explode: true
        in: query
        name: watchability.items.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по коллекциям из KinoPoisk (пример: `\"top250\", \"top-100-indian-movies\"\
          , \"!top-100-movies\"`)"
        explode: true
        in: query
        name: lists
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Универсальный поиск с фильтрами
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1.4/movie/search:
    get:
      description: Этот метод вернет список фильмов которые подходят под ваш запрос.
      operationId: MovieController_searchMovieV1_4
      parameters:
      - description: Страница выборки
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Поисковый запрос
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMovieResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Поиск фильмов по названию
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1.4/movie/random:
    get:
      description: "Этот метод вернет рандомный тайтл из базы. Вы можете составить\
        \ фильтр, чтобы получить рандомный тайтл по вашим критериям."
      operationId: MovieController_getRandomMovieV1_4
      parameters:
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - externalId.imdb
            - externalId.tmdb
            - externalId.kpHD
            - name
            - enName
            - alternativeName
            - names.name
            - description
            - shortDescription
            - slogan
            - type
            - typeNumber
            - isSeries
            - status
            - year
            - releaseYears.start
            - releaseYears.end
            - rating.kp
            - rating.imdb
            - rating.tmdb
            - rating.filmCritics
            - rating.russianFilmCritics
            - rating.await
            - ratingMpaa
            - ageRating
            - votes.kp
            - votes.imdb
            - votes.tmdb
            - votes.filmCritics
            - votes.russianFilmCritics
            - votes.await
            - budget.value
            - budget.currency
            - audience.count
            - audience.country
            - movieLength
            - seriesLength
            - totalSeriesLength
            - genres.name
            - countries.name
            - poster.url
            - backdrop.url
            - logo.url
            - ticketsOnSale
            - videos.trailers.url
            - videos.trailers.site
            - videos.trailers.name
            - networks.items.name
            - networks.items.logo.url
            - persons.id
            - persons.name
            - persons.enName
            - persons.photo
            - persons.description
            - persons.profession
            - persons.enProfession
            - facts.type
            - facts.value
            - facts.spoiler
            - fees.world.value
            - fees.usa.value
            - fees.russia.value
            - premiere.world
            - premiere.usa
            - premiere.russia
            - premiere.digital
            - premiere.dvd
            - premiere.bluRay
            - premiere.cinema
            - premiere.country
            - similarMovies.id
            - similarMovies.name
            - similarMovies.enName
            - similarMovies.alternativeName
            - similarMovies.poster.url
            - similarMovies.rating.kp
            - similarMovies.rating.imdb
            - similarMovies.rating.tmdb
            - similarMovies.year
            - sequelsAndPrequels.id
            - sequelsAndPrequels.name
            - sequelsAndPrequels.enName
            - sequelsAndPrequels.alternativeName
            - sequelsAndPrequels.poster.url
            - sequelsAndPrequels.rating.kp
            - sequelsAndPrequels.rating.imdb
            - sequelsAndPrequels.rating.tmdb
            - sequelsAndPrequels.year
            - watchability.items.name
            - watchability.items.url
            - watchability.items.logo.url
            - lists
            - top10
            - top250
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по IMDB ID (пример: `\"tt666\", \"tt555\", \"!tt666\"\
          `)"
        explode: true
        in: query
        name: externalId.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по TMDB ID (пример: `666, 555, !666`)"
        explode: true
        in: query
        name: externalId.tmdb
        required: false
        schema:
          items:
            type: number
          nullable: true
          type: array
        style: form
      - description: "Поиск по id KinoPoisk HD (пример: `\"48e8d0acb0f62d8585101798eaeceec5\"\
          , \"!48e8d0acb0f62d8585101798eaeceec5\"`)"
        explode: true
        in: query
        name: externalId.kpHD
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по типу фильма (пример: `\"movie\", \"tv-series\", \"\
          !anime\"`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - movie
            - tv-series
            - cartoon
            - animated-series
            - anime
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по номеру типа фильма (пример: `1, 2, !3`). Список тип\
          ов: 1 (movie), 2 (tv-series), 3 (cartoon), 4 (anime), 5 (animated-series)."
        explode: true
        in: query
        name: typeNumber
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по индикатору сериала (пример: `true, false`)"
        explode: true
        in: query
        name: isSeries
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по статусу фильма (пример: `\"announced\", \"completed\"\
          , \"!filming\"`)"
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - announced
            - completed
            - filming
            - post-production
            - pre-production
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по году (пример: `1874, 2050, !2020, 2020-2024`)"
        explode: true
        in: query
        name: year
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по года начала релиза (пример: `1874, 2050, !2020, 2020-2024`)"
        explode: true
        in: query
        name: releaseYears.start
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по года окончания релиза (пример: `1874, 2050, !2020,\
          \ 2020-2024`)"
        explode: true
        in: query
        name: releaseYears.end
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу Кинопоиск (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.kp
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу IMDB (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу TMDB (пример: `7, 10, 7.2-10`)"
        explode: true
        in: query
        name: rating.tmdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу MPAA (пример: `\"G\", \"NC-17\", \"!R\"`)"
        explode: true
        in: query
        name: ratingMpaa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по возрастному рейтингу (пример: `12, !18, 12-18`)"
        explode: true
        in: query
        name: ageRating
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на KP (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.kp
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на IMDB (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.imdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов на TMDB (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.tmdb
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов кинокритиков (пример: `1000-6666666`)"
        explode: true
        in: query
        name: votes.filmCritics
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов кинокритиков из России (пример:\
          \ `1000-6666666`)"
        explode: true
        in: query
        name: votes.russianFilmCritics
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству голосов ожидания на Кинопоиске (пример:\
          \ `1000-6666666`)"
        explode: true
        in: query
        name: votes.await
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по бюджету фильма (пример: `1000-6666666`)"
        explode: true
        in: query
        name: budget.value
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству аудитории (пример: `1000-6666666`)"
        explode: true
        in: query
        name: audience.count
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по продолжительности фильма (пример: `100-120`)"
        explode: true
        in: query
        name: movieLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по всей продолжительности одной серии (пример: `20-60`)"
        explode: true
        in: query
        name: seriesLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по всей продолжительности сериала (пример: `100-120`)"
        explode: true
        in: query
        name: totalSeriesLength
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по жанрам (пример: `\"драма\", \"комедия\", \"!мелодра\
          ма\", \"+ужасы\"`)"
        explode: true
        in: query
        name: genres.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по странам (пример: `\"США\", \"Россия\", \"!Франция\"\
          \ , \"+Великобритания\"`)"
        explode: true
        in: query
        name: countries.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по наличию билетов в продаже (пример: `true, false`)"
        explode: true
        in: query
        name: ticketsOnSale
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сетям производства фильма (пример: `\"HBO\", \"Netflix\"\
          , \"!Amazon\"`)"
        explode: true
        in: query
        name: networks.items.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID персон (пример: `666, 555, !666`)"
        explode: true
        in: query
        name: persons.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по профессиям персон (пример: `\"актер\", \"режиссер\"\
          , \"!сценарист\"`)"
        explode: true
        in: query
        name: persons.profession
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по английским профессиям персон (пример: `\"actor\", \"\
          director\", \"!writer\"`)"
        explode: true
        in: query
        name: persons.enProfession
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в мире (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.world
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в США (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.usa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по сборам в России (пример: `1000-6666666`)"
        explode: true
        in: query
        name: fees.russia
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в мире (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.world
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в США (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.usa
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в России (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.russia
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в стриминговых сервисах (пример: `01.01.2020,\
          \ 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.digital
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате премьеры в кинотеатрах (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: premiere.cinema
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по стране премьеры (пример: `\"США\", \"Россия\", \"!Ф\
          ранция\" , \"+Великобритания\"`)"
        explode: true
        in: query
        name: premiere.country
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk из списка похожих фильмов (пример: `666,\
          \ 555, !666`)"
        explode: true
        in: query
        name: similarMovies.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk из списка сиквелов и преквелов (пример\
          : `666, 555, !666`)"
        explode: true
        in: query
        name: sequelsAndPrequels.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по доуступным платформам для просмотра (пример: `\"ivi\"\
          , \"okko\", \"!megogo\"`)"
        explode: true
        in: query
        name: watchability.items.name
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по коллекциям из KinoPoisk (пример: `\"top250\", \"top-100-indian-movies\"\
          , \"!top-100-movies\"`)"
        explode: true
        in: query
        name: lists
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Получить рандомный тайтл из базы
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1.4/movie/awards:
    get:
      operationId: MovieController_findManyAwardsV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - winning
            - nomination
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - winning
            - nomination.award.title
            - nomination.award.year
            - nomination.title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - movieId
            - winning
            - nomination.award.title
            - nomination.award.year
            - nomination.title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID фильма (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: movieId
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по номинациям (пример: `\"Оскар\", \"Золотой глобус\"\
          `)"
        explode: true
        in: query
        name: nomination.title
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по наградам (пример: `\"Лучший фильм\", \"Лучший актер\
          \"`)"
        explode: true
        in: query
        name: nomination.award.title
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по году награды (пример: `\"2019\", \"2020\"`)"
        explode: true
        in: query
        name: nomination.award.year
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по победам (пример: `\"true\", \"false\"`)"
        explode: true
        in: query
        name: winning
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieAwardDocsResponseDto'
          description: ""
      security:
      - X-API-KEY: []
      summary: Награды тайтлов
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1/movie/possible-values-by-field:
    get:
      description: "Этот метод принимает только определенные поля, и возвращает по\
        \ ним все доступные значения."
      operationId: MovieController_getPossibleValuesByFieldName
      parameters:
      - explode: true
        in: query
        name: field
        required: true
        schema:
          enum:
          - genres.name
          - countries.name
          - type
          - typeNumber
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PossibleValueDto'
                type: array
          description: ""
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PossibleValueDto'
                type: array
          description: ""
      security:
      - X-API-KEY: []
      summary: "Получить список стран, жанров, и т.д."
      tags:
      - "Фильмы, сериалы, и т.д."
  /v1.4/season:
    get:
      operationId: SeasonController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - poster
            - number
            - name
            - enName
            - duration
            - description
            - enDescription
            - episodesCount
            - airDate
            - episodes
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - poster.url
            - poster.previewUrl
            - number
            - name
            - enName
            - episodesCount
            - airDate
            - duration
            - description
            - enDescription
            - episodes.number
            - episodes.name
            - episodes.enName
            - episodes.airDate
            - episodes.date
            - episodes.description
            - episodes.enDescription
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - movieId
            - poster.url
            - poster.previewUrl
            - number
            - name
            - enName
            - episodesCount
            - airDate
            - duration
            - description
            - enDescription
            - episodes.number
            - episodes.name
            - episodes.enName
            - episodes.airDate
            - episodes.date
            - episodes.description
            - episodes.enDescription
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID фильма (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: movieId
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по номеру сезона (пример: `\"1\", \"1-19\", \"!3\"`)"
        explode: true
        in: query
        name: number
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по нормеру эпизода (пример: `\"1\", \"1-19\", \"!3\"`)"
        explode: true
        in: query
        name: episodes.number
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате выхода сезона (пример: `\"2020-01-01-2020-12-31\"\
          , \"2020-01-01\"`)"
        explode: true
        in: query
        name: airDate
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате выхода эпизода (пример: `\"2020-01-01-2020-12-31\"\
          , \"2020-01-01\"`)"
        explode: true
        in: query
        name: episodes.airDate
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Поиск сезонов
      tags:
      - Сезоны и эпизоды
  /v1.4/review:
    get:
      description: "Этот метод предназначен для поиска персон по фильтрам. Он прин\
        имает множество параметров, которые можно комбинировать между собой. Если\
        \ вам нужен только поиск по имени, используйте метод `Полнотекстовый поиск\
        ` (search). В этом методе также доступен выбор полей. А в ответ приходит п\
        олная модель персоны."
      operationId: ReviewController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - id
            - movieId
            - title
            - type
            - review
            - date
            - author
            - authorId
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - movieId
            - title
            - type
            - review
            - date
            - author
            - authorId
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - id
            - movieId
            - title
            - type
            - review
            - date
            - author
            - authorId
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID отзыва (пример: `\"111\", \"222\", \"!666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID фильма (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: movieId
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск отзывов по ID автора (пример: `\"666\", \"555\", \"!666\"\
          `)"
        explode: true
        in: query
        name: authorId
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по имени автора отзыва (пример: `\"КиноПоиск\", \"!Кин\
          оПоиск\"`)"
        explode: true
        in: query
        name: author
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по типу отзыва (пример: `\"!Негативный\", \"Нейтральны\
          й\", \"Позитивный\"`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - Негативный
            - Нейтральный
            - Позитивный
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате создания отзыва (пример: `\"01.01.2021-01.01.2022\"\
          , \"01.01.2021\"`)"
        explode: true
        in: query
        name: date
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Универсальный поиск с фильтрами
      tags:
      - Отзывы пользователей
  /v1.4/person/{id}:
    get:
      description: Возвращает всю доступную информацию о сущности.
      operationId: PersonController_findOneV1_4
      parameters:
      - description: ID из кинопоиска
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponseDto'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
          description: Other
      security:
      - X-API-KEY: []
      summary: Поиск по id
      tags:
      - "Актеры, режиссеры, операторы, и т.д"
  /v1.4/person:
    get:
      description: "Этот метод вернет список персон удовлетворяющих вашему запросу\
        . <br> В ответе придут поля указанные в параметре `selectFields`. Если его\
        \ не указать, то вернутся только дефолтные поля."
      operationId: PersonController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - enName
            - photo
            - sex
            - growth
            - birthday
            - death
            - age
            - birthPlace
            - deathPlace
            - spouses
            - countAwards
            - profession
            - facts
            - movies
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - enName
            - photo
            - sex
            - growth
            - birthday
            - death
            - age
            - birthPlace.value
            - deathPlace.value
            - spouses.id
            - spouses.name
            - spouses.divorced
            - spouses.divorcedReason
            - spouses.sex
            - spouses.children
            - spouses.relation
            - countAwards
            - profession.value
            - facts.value
            - movies.id
            - movies.name
            - movies.alternativeName
            - movies.rating
            - movies.general
            - movies.description
            - movies.enProfession
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - enName
            - photo
            - sex
            - growth
            - birthday
            - death
            - age
            - birthPlace.value
            - deathPlace.value
            - spouses.id
            - spouses.name
            - spouses.divorced
            - spouses.divorcedReason
            - spouses.sex
            - spouses.children
            - spouses.relation
            - countAwards
            - profession.value
            - facts.value
            - movies.id
            - movies.name
            - movies.alternativeName
            - movies.rating
            - movies.general
            - movies.description
            - movies.enProfession
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk (пример: `\"111\", \"222\", \"!666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID фильма (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: movies.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по гендеру (пример: `Женский, Мужской`)"
        explode: true
        in: query
        name: sex
        required: false
        schema:
          items:
            enum:
            - Женский
            - Мужской
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по росту (пример: `170-180, 180`)"
        explode: true
        in: query
        name: growth
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате рождения (пример: `01.01.2000-01.01.2001, 01.01.2000`)"
        explode: true
        in: query
        name: birthday
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате смерти (пример: `01.01.2000-01.01.2001, 01.01.2000`)"
        explode: true
        in: query
        name: death
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по возрасту (пример: `18-25, 25`)"
        explode: true
        in: query
        name: age
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по месту рождения (пример: `Москва, Санкт-Петербург`)"
        explode: true
        in: query
        name: birthPlace.value
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по месту смерти (пример: `Москва, Санкт-Петербург`)"
        explode: true
        in: query
        name: deathPlace.value
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID супруги(супруга) (пример: `111, 222`)"
        explode: true
        in: query
        name: spouses.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по статусу развода (пример: `true, false`)"
        explode: true
        in: query
        name: spouses.divorced
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Поиск по гендеру супруги(супруга) (пример: `Женский, Мужской\
          `)"
        explode: true
        in: query
        name: spouses.sex
        required: false
        schema:
          items:
            enum:
            - Женский
            - Мужской
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по количеству наград (пример: `1-10, 10`)"
        explode: true
        in: query
        name: countAwards
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по профессии (пример: `Актер, Режиссер`)"
        explode: true
        in: query
        name: profession.value
        required: false
        schema:
          items:
            enum:
            - Актер
            - Актер дубляжа
            - Актриса
            - Актриса дубляжа
            - В титрах не указаны
            - "Группа: Хроника"
            - "Группа: играют самих себя"
            - Директор фильма
            - Звукорежиссер
            - Композитор
            - Монтажер
            - Озвучка
            - Оператор
            - Переводчик
            - Продюсер
            - Режиссер
            - Режиссер дубляжа
            - Сценарист
            - Художник
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по рейтингу фильма (пример: `1-10, 10`)"
        explode: true
        in: query
        name: movies.rating
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по профессии в фильмах на английском (пример: `actor,\
          \ director`)"
        explode: true
        in: query
        name: movies.enProfession
        required: false
        schema:
          items:
            enum:
            - actor
            - cameo
            - composer
            - design
            - director
            - director_ussr
            - editor
            - group_cameo
            - group_uncredited
            - operator
            - producer
            - sound_designer
            - translator
            - uncredited
            - voice_director
            - voiceover
            - writer
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Универсальный поиск с фильтрами
      tags:
      - "Актеры, режиссеры, операторы, и т.д"
  /v1.4/person/search:
    get:
      description: Этот метод вернет список персон которые подходят под ваш запрос.
      operationId: PersonController_searchPersonV1_4
      parameters:
      - description: Страница выборки
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Поисковый запрос
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPersonResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: "Поиск актеров, режиссеров, и т.д по имени"
      tags:
      - "Актеры, режиссеры, операторы, и т.д"
  /v1.4/person/awards:
    get:
      operationId: PersonController_findManyAwardsV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - personId
            - winning
            - nomination
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - personId
            - winning
            - nomination.award.title
            - nomination.award.year
            - nomination.title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - personId
            - winning
            - nomination.award.title
            - nomination.award.year
            - nomination.title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID персоны (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: personId
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по номинациям (пример: `\"Оскар\", \"Золотой глобус\"\
          `)"
        explode: true
        in: query
        name: nomination.title
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по наградам (пример: `\"Лучший фильм\", \"Лучший актер\
          \"`)"
        explode: true
        in: query
        name: nomination.award.title
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по году награды (пример: `\"2019\", \"2020\"`)"
        explode: true
        in: query
        name: nomination.award.year
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по победам (пример: `\"true\", \"false\"`)"
        explode: true
        in: query
        name: winning
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonAwardDocsResponseDto'
          description: ""
      security:
      - X-API-KEY: []
      summary: Награды актеров
      tags:
      - "Актеры, режиссеры, операторы, и т.д"
  /v1.4/studio:
    get:
      description: Этот метод предназначен для поиска студий
      operationId: StudioController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - id
            - subType
            - title
            - type
            - movies
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - subType
            - title
            - type
            - movies.id
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - id
            - subType
            - title
            - type
            - movies.id
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по ID KinoPoisk (пример: `\"warnerbros\", \"222\", \"\
          !666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по ID фильма (пример: `\"666\", \"555\", \"!666\"`)"
        explode: true
        in: query
        name: movies.id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по типу студии (пример: `\"Производство\", \"Студия ду\
          бляжа\"`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по типу студии (пример: `\"company\", \"studio\"`)"
        explode: true
        in: query
        name: subType
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по названию студии (пример: `\"Warner Bros.\", \"!Warner\
          \ Bros.\"`)"
        explode: true
        in: query
        name: title
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате обновления (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Поиск студий
      tags:
      - Студии
  /v1.4/keyword:
    get:
      description: Этот метод предназначен для поиска ключевых слов
      operationId: KeywordController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - id
            - movies
            - title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - id
            - movies.id
            - title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - id
            - movies.id
            - title
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск ключевого слова по id (пример: `\"666\", \"!666\"`)"
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск ключевых слов по id фильма (пример: `\"666\", \"!666\"\
          `)"
        explode: true
        in: query
        name: movies.id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск ключевых слов по наименованию (пример: `\"1980-е\", \"\
          !1980-е\"`)"
        explode: true
        in: query
        name: title
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Поиск ключевых слов
      tags:
      - Ключевые слова
  /v1.4/image:
    get:
      description: Этот метод предназначен для поиска картинок которые привязаны к
        фильмам и сериалам
      operationId: ImageController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - description: Количество элементов на странице
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: number
        style: form
      - description: Список полей требуемых в ответе из модели
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - type
            - language
            - url
            - previewUrl
            - height
            - width
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Список полей которые не должны быть null или пусты
        explode: true
        in: query
        name: notNullFields
        required: false
        schema:
          items:
            enum:
            - movieId
            - type
            - language
            - url
            - previewUrl
            - height
            - width
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: Сортировка по полям из модели
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          items:
            enum:
            - movieId
            - type
            - language
            - url
            - previewUrl
            - height
            - width
            - updatedAt
            - createdAt
            type: string
          type: array
        style: form
      - description: "Тип сортировки применительно к полям из sortField (пример: `\"\
          1\", \"-1\"`)"
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск картинок по id фильма (пример: `\"666\", \"!666\"`)"
        explode: true
        in: query
        name: movieId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск картинок по типу (пример: `\"cover\", \"!cover\"`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - backdrops
            - cover
            - frame
            - promo
            - screenshot
            - shooting
            - still
            - wallpaper
            type: string
          type: array
        style: form
      - description: "Поиск картинок по языку (пример: `\"en\", \"!de\"`)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          items:
            enum:
            - ab
            - af
            - am
            - ar
            - as
            - av
            - ba
            - be
            - bg
            - bn
            - ca
            - ce
            - cn
            - cs
            - cu
            - cv
            - da
            - de
            type: string
          type: array
        style: form
      - description: "Поиск картинок по высоте (пример: `\"1920\", \"360-1920\"`)"
        explode: true
        in: query
        name: height
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск картинок по ширине (пример: `\"1080\", \"320-1080\"`)"
        explode: true
        in: query
        name: width
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Поиск по дате обновления в базе (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: "Поиск по дате добавления в базу (пример: `01.01.2020, 01.01.2020-31.12.2020`)"
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDocsResponseDtoV1_4'
          description: ""
      security:
      - X-API-KEY: []
      summary: Поиск картинок
      tags:
      - "Постеры, фоны, кадры, скриншоты и т.д."
  /v1.4/list:
    get:
      description: Этот метод предназначен для поиска коллекций кино
      operationId: ListController_findManyV1_4
      parameters:
      - description: Номер страницы
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
[...]
